.error-page {
  width: 100%;
  position: absolute;
  top: 44%;
  left: 76%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4000;
}

.error-page h2{
  position: absolute;
  top: 50%;
}

.error-page h2{
  font-size: 50px;
  top: 250px;
}

.error-page p{
  position: absolute;
  font-size: 20px;
  left: 180px;
  top: 360px;
}