.search-container{
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8E8FFA;
  border-radius: 10px;
  width: 70%;
  height: 60px;
}

.search-container form input{
  border: none;
  outline: none;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-left: 20px;
  padding: 0 10px 0 10px;
}

.search-container form button{
  width: 80px;
  height: 30px;
  line-height: 10px;
  border-radius: 5px;
  color: #7752FE;
}

.search-container form button:hover{
  color: blue;
}

.filter-container{
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.filter-container select{
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 5px;
}

.filter-container select:hover{
  color: blue;
}

.search-container .button{
  background-color: #F9F9F9;
  color: blueviolet;
  border: solid 2px blueviolet;
  width: 20%;
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 0;
  line-height: 28px;
}

.search-container .button:hover{
  color: blue;
  border-color: blue;
}